parameters:
    level: 5
    paths:
        - src
        - modules
    phpVersion:
        min: 80300
        max: 80500
    treatPhpDocTypesAsCertain: false
    scanFiles:
        - stubs/zstd.php
        - stubs/brotli.php
        - stubs/redis.php
